:root {
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

/* Base */
body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light); /* HEX value */
}

/* Button */
.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.button:active {
  background-color: hotpink;
}

/* Link */
.link {
  color: var(--color-brand-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.shop-bakery .accent {
  color: var(--color-brand-light);
}

.five-minutes .accent {
  color: var(--color-brand-light);
}
